@font-face {
  font-family: "Russo";
  src: url("./fonts/RussoOne-Regular.ttf");
}

*{
  padding: 0;
  margin: 0;
}


.container{
  display: grid;
  grid-template-rows: 10rem 1fr;
  height: 100vh;
}

.header{
  background-color: #B14AED;
  padding: 4rem;
  font-size: 2rem;
  font-family: "Russo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game{
  background-color: #C874D9;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

.scores{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  height: 12rem;
  border-radius: 1rem;
  width: 12rem;
  background-color: #580968;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img{
  max-width: 100%;
  max-height: 100%;
}

.player-name{
  color: white;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.card:hover{
  outline: 3px solid white;
  cursor: pointer;
}

#score,
#high-score{
  color: white;
}